<table>
  <tr>
    <th>
      <h2>Hi <%= @email %></h2>
      <br/>
      <p>Your account has failed to log in to the uo system 2 times, and 5 consecutive failures will cause the account to be locked for 30 minutes</p>
      <br/>
      <p>Thanks,</p>
      <p>GridX Team</p>
      <hr>
    </th>
  </tr>
</table>